/* Fonts*/
@font-face {
  font-family: 'quicksandbold';
  src: url("../fonts/quicksand-bold-webfont.eot");
  src: url("../fonts/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-bold-webfont.woff2") format("woff2"), url("../fonts/quicksand-bold-webfont.woff") format("woff"), url("../fonts/quicksand-bold-webfont.ttf") format("truetype"), url("../fonts/quicksand-bold-webfont.svg#quicksandbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksandbold_italic';
  src: url("../fonts/quicksand-bolditalic-webfont.eot");
  src: url("../fonts/quicksand-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-bolditalic-webfont.woff2") format("woff2"), url("../fonts/quicksand-bolditalic-webfont.woff") format("woff"), url("../fonts/quicksand-bolditalic-webfont.ttf") format("truetype"), url("../fonts/quicksand-bolditalic-webfont.svg#quicksandbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksanditalic';
  src: url("../fonts/quicksand-italic-webfont.eot");
  src: url("../fonts/quicksand-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-italic-webfont.woff2") format("woff2"), url("../fonts/quicksand-italic-webfont.woff") format("woff"), url("../fonts/quicksand-italic-webfont.ttf") format("truetype"), url("../fonts/quicksand-italic-webfont.svg#quicksanditalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksandregular';
  src: url("../fonts/quicksand-regular-webfont.eot");
  src: url("../fonts/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-regular-webfont.woff2") format("woff2"), url("../fonts/quicksand-regular-webfont.woff") format("woff"), url("../fonts/quicksand-regular-webfont.ttf") format("truetype"), url("../fonts/quicksand-regular-webfont.svg#quicksandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Varibles */
/* Main container for the app */
/* line 65, ../sass/main.scss */
.container {
  width: 1024px !important;
  height: 768px !important;
  background-image: url("../img/bg-kitchen.png");
}

/* line 71, ../sass/main.scss */
.kitchen {
  position: absolute;
  width: 1024px;
  height: 768px;
}

/* line 77, ../sass/main.scss */
.objects {
  position: absolute;
}

/* line 81, ../sass/main.scss */
.fridge {
  bottom: 103px;
  right: 71px;
  width: 253px;
  height: 514px;
  background-image: url("../img/kitchen-fridge.png");
}

/* line 89, ../sass/main.scss */
.mixer {
  bottom: 327px;
  right: 415px;
  width: 91px;
  height: 100px;
  background-image: url("../img/kitchen-mixer.png");
}

/* line 97, ../sass/main.scss */
.pot {
  bottom: 341px;
  left: 212px;
  width: 129px;
  height: 70px;
  background-image: url("../img/kitchen-pot.png");
}

/* line 104, ../sass/main.scss */
.toaster {
  top: 262px;
  left: 35px;
  width: 83px;
  height: 52px;
  background-image: url("../img/kitchen-toaster.png");
}

/* line 111, ../sass/main.scss */
.coffee {
  top: 174px;
  left: 190px;
  width: 45px;
  height: 48px;
  background-image: url("../img/kitchen-coffee.png");
}

/* line 118, ../sass/main.scss */
.mug {
  top: 269px;
  left: 190px;
  width: 48px;
  height: 42px;
  background-image: url("../img/kitchen-mug.png");
}

/* line 126, ../sass/main.scss */
.chocolate {
  top: 255px;
  left: 150px;
  width: 32px;
  height: 56px;
  background-image: url("../img/kitchen-chocolate.png");
}

/* line 133, ../sass/main.scss */
.transparent-container {
  top: 170px;
  left: 155px;
  width: 24px;
  height: 53px;
  background-image: url("../img/kitchen-container.png");
}

/* line 140, ../sass/main.scss */
.small-container {
  top: 178px;
  left: 35px;
  width: 37px;
  height: 45px;
  background-image: url("../img/kitchen-container2.png");
}

/* line 147, ../sass/main.scss */
.transparent-small-container {
  top: 178px;
  left: 77px;
  width: 39px;
  height: 42px;
  background-image: url("../img/kitchen-container3.png");
}

/* line 155, ../sass/main.scss */
.basic-nav {
  margin-top: 10px;
  font-family: "quicksandbold";
  font-size: 20px;
  color: #d64e25;
}
/* line 162, ../sass/main.scss */
.basic-nav ul {
  list-style: none;
  padding-right: 40px;
}
/* line 165, ../sass/main.scss */
.basic-nav ul li {
  display: inline-block;
}
/* line 170, ../sass/main.scss */
.basic-nav #home {
  height: 76px;
  width: 83px;
  background-image: url("../img/sprite-nav-50.png");
  background-position: 89px 78px;
}
/* line 177, ../sass/main.scss */
.basic-nav #home:hover {
  background-position: 89px 0px;
}
/* line 181, ../sass/main.scss */
.basic-nav #diary {
  float: right;
  margin-right: 30px;
  height: 76px;
  width: 64px;
  background-image: url("../img/sprite-nav-50.png");
  background-position: -3px 78px;
}
/* line 189, ../sass/main.scss */
.basic-nav #diary:hover {
  background-position: -3px 0px;
}
/* line 193, ../sass/main.scss */
.basic-nav #library {
  float: right;
  height: 76px;
  width: 57px;
  background-image: url("../img/sprite-nav-50.png");
  background-position: 145px 78px;
}
/* line 201, ../sass/main.scss */
.basic-nav #library:hover {
  background-position: 145px 0px;
}
/* line 205, ../sass/main.scss */
.basic-nav #progress-bar {
  width: 337px;
  height: 105px;
  background-image: url("../img/progress-bar.png");
  background-position: 0 10px;
  position: absolute;
  right: 35%;
}
/* line 214, ../sass/main.scss */
.basic-nav #progress-bar span {
  margin-left: 23%;
}
