/* Fonts*/
@font-face {
  font-family: 'quicksandbold';
  src: url("../fonts/quicksand-bold-webfont.eot");
  src: url("../fonts/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-bold-webfont.woff2") format("woff2"), url("../fonts/quicksand-bold-webfont.woff") format("woff"), url("../fonts/quicksand-bold-webfont.ttf") format("truetype"), url("../fonts/quicksand-bold-webfont.svg#quicksandbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksandbold_italic';
  src: url("../fonts/quicksand-bolditalic-webfont.eot");
  src: url("../fonts/quicksand-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-bolditalic-webfont.woff2") format("woff2"), url("../fonts/quicksand-bolditalic-webfont.woff") format("woff"), url("../fonts/quicksand-bolditalic-webfont.ttf") format("truetype"), url("../fonts/quicksand-bolditalic-webfont.svg#quicksandbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksanditalic';
  src: url("../fonts/quicksand-italic-webfont.eot");
  src: url("../fonts/quicksand-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-italic-webfont.woff2") format("woff2"), url("../fonts/quicksand-italic-webfont.woff") format("woff"), url("../fonts/quicksand-italic-webfont.ttf") format("truetype"), url("../fonts/quicksand-italic-webfont.svg#quicksanditalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksandregular';
  src: url("../fonts/quicksand-regular-webfont.eot");
  src: url("../fonts/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-regular-webfont.woff2") format("woff2"), url("../fonts/quicksand-regular-webfont.woff") format("woff"), url("../fonts/quicksand-regular-webfont.ttf") format("truetype"), url("../fonts/quicksand-regular-webfont.svg#quicksandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Varibles */
/* Main container for the app */
/* line 65, ../sass/main.scss */
.container {
  width: 1024px !important;
  height: 768px !important;
  background-image: url("../img/bg-kitchen.png");
}

/* line 71, ../sass/main.scss */
.basic-nav {
  margin-top: 10px;
  font-family: "quicksandbold";
  font-size: 20px;
  color: #d64e25;
}
/* line 78, ../sass/main.scss */
.basic-nav ul {
  list-style: none;
  padding-right: 40px;
}
/* line 81, ../sass/main.scss */
.basic-nav ul li {
  display: inline-block;
}
/* line 86, ../sass/main.scss */
.basic-nav #home {
  height: 76px;
  width: 83px;
  background-image: url("../img/sprite-nav-50.png");
  background-position: 89px 78px;
}
/* line 93, ../sass/main.scss */
.basic-nav #home:hover {
  background-position: 89px 0px;
}
/* line 97, ../sass/main.scss */
.basic-nav #diary {
  float: right;
  margin-right: 30px;
  height: 76px;
  width: 64px;
  background-image: url("../img/sprite-nav-50.png");
  background-position: -3px 78px;
}
/* line 105, ../sass/main.scss */
.basic-nav #diary:hover {
  background-position: -3px 0px;
}
/* line 109, ../sass/main.scss */
.basic-nav #library {
  float: right;
  height: 76px;
  width: 57px;
  background-image: url("../img/sprite-nav-50.png");
  background-position: 145px 78px;
}
/* line 117, ../sass/main.scss */
.basic-nav #library:hover {
  background-position: 145px 0px;
}
/* line 121, ../sass/main.scss */
.basic-nav #progress-bar {
  width: 337px;
  height: 105px;
  background-image: url("../img/progress-bar.png");
  background-position: 0 10px;
  position: absolute;
  right: 35%;
}
/* line 130, ../sass/main.scss */
.basic-nav #progress-bar span {
  margin-left: 23%;
}
