
.balcony{
  position: absolute;
  width: 1024px;
  height: 768px;
  background-image: url("../img/bg-balcony.png");
}
.bike{
  top: 300px;
  left: 47px;
  width: 461px;
  height: 249px;
  background-image: url("../img/balcony-bike.png");
}
.hose{
  top: 600px;
  left: 100px;
  width: 186px;
  height: 117px;
  background-image: url("../img/balcony-hose.png");
}
.hammer{
  top: 600px;
  left: 500px;
  width: 79px;
  height: 146px;
  background-image: url("../img/balcony-hammer.png");
}
