/* Bathroom Styles */

.bathroom{
  position: absolute;
  width: 1024px;
  height: 768px;
  background-image: url("../img/bg-bathroom.png");
}

/* Objects */

.mirror{
  width: 250px;
  height: 194px;
  background-image: url("../img/bathroom-mirror.png");
  top: 110px;
  right: 616px;
}

.paper{
  width: 93px;
  height: 64px;
  background-image: url("../img/bathroom-paper.png");
  top: 370px;
  right: 513px;
}
.garbage{
  width: 91px;
  height: 121px;
  background-image: url("../img/bathroom-garbage.png");
  top: 440px;
  right: 513px;
}
