/* Bedroom styles */

/* Background */

.bedroom{
  position: absolute;
  width: 1024px;
  height: 768px;
  background-image: url("../img/bg-bedroom.png");
}

/* Objects*/

.pillow{
  width: 74px;
  height: 60px;
  background-image: url("../img/bedroom-pillow.png");
  top:380px;
  right:228px;
}

.backpack{
  width: 117px;
  height:185px;
  background-image: url("../img/bedroom-backpack.png");
  top:525px;
  right: 228px;
}

.blue-box{
  width: 120px;
  height:75px;
  background-image: url("../img/bedroom-blue-box.png");
  top:280px;
  right: 840px;
}

.purple-box{
  width: 112px;
  height: 81px;
  background-image: url("../img/bedroom-purple-box.png");
  top: 385px;
  right: 840px;
}

.toys{
  width: 130px;
  height: 171px;
  background-image: url("../img/bedroom-toys.png");
  top:440px;
  right:25px;
}

.sock{
  width: 69px;
  height: 49px;
  background-image: url("../img/bedroom-sock.png");
  top:620px;
  right:900px;
  display:none;

}
.yellow-sock{
  width: 81px;
  height: 62px;
  background-image: url("../img/bedroom-yellow-sock.png");
  top:678px;
  right:890px;
  display:none;
}

.green-sock{
  width: 56px;
  height: 28px;
  background-image: url("../img/bedroom-green-sock.png");
  top:620px;
  right:825px;
  display:none;

}
.blue-sock{
  width: 52px;
  height:73px;
  background-image: url("../img/bedroom-blue-sock.png");
  top:678px;
  right:825px;
  display:none;
}
.books{
  width: 200px;
  height:76px;
  background-image: url("../img/bedroom-books.png");
  top:240px;
  right:207px;
  display:none;

}
.pig{
  width:65px;
  height:70px;
  background-image: url("../img/bedroom-pig.png");
  top: 378px;
  right: 620px;
  display:none;
}

.pc{
  width:118px;
  height:96px;
  background-image: url("../img/bedroom-pc.png");
  top: 283px;
  left: 218px;
}
