
  .fridge{
    bottom:103px;
    right:71px;
    width:253px;
    height: 514px;
    background-image: url("../img/kitchen-fridge.png");
  }

  .mixer{
    bottom:327px;
    right:415px;
    width:91px;
    height:100px;
    background-image: url("../img/kitchen-mixer.png");
  }

  .pot{
    bottom:341px;
    left:212px;
    width:129px;
    height: 70px;
    background-image: url("../img/kitchen-pot.png");
  }
  .toaster{
    top:262px;
    left:35px;
    width:83px;
    height: 52px;
    background-image: url("../img/kitchen-toaster.png");
  }
  .coffee{
    top:165px;
    left:186px;
    width:56px;
    height: 58px;
    background-image: url("../img/kitchen-coffee.png");
  }
  .mug{
    top:269px;
    left:190px;
    width:48px;
    height: 42px;
    background-image: url("../img/kitchen-mug.png");
  }

  .chocolate{
    top:250px;
    left:150px;
    width:36px;
    height:63px;
    background-image: url("../img/kitchen-chocolate.png");
  }
  .transparent-container{
    top:170px;
    left:155px;
    width:24px;
    height: 53px;
    background-image: url("../img/kitchen-container.png");
  }
  .small-container{
    top:167px;
    left:29px;
    width:46px;
    height:56px;
    background-image: url("../img/kitchen-container2.png");
  }
  .transparent-small-container{
    top:178px;
    left:77px;
    width:39px;
    height: 42px;
    background-image: url("../img/kitchen-container3.png");
  }
