/* Fonts*/

@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand-bold-webfont.eot');
    src: url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff'),
         url('../fonts/quicksand-bold-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbold_italic';
    src: url('../fonts/quicksand-bolditalic-webfont.eot');
    src: url('../fonts/quicksand-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bolditalic-webfont.woff') format('woff'),
         url('../fonts/quicksand-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-bolditalic-webfont.svg#quicksandbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksanditalic';
    src: url('../fonts/quicksand-italic-webfont.eot');
    src: url('../fonts/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-italic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-italic-webfont.woff') format('woff'),
         url('../fonts/quicksand-italic-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-italic-webfont.svg#quicksanditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Varibles */

$font-titles: 'quicksandbold';

/* Imports */

@import 'kitchen';


/* Main container for the app */
.container{
  width:1024px !important;
  height:768px !important;
}


.objects{
  position: absolute;
}

/* Basic Navigation for the entire app */
.basic-nav{
  margin-top: 10px;
  font-family: $font-titles;
  font-size: 20px;
  color: #d64e25;


  ul{
    list-style: none;
    padding-right: 40px;
    li{
      display:inline-block;
    }
  }

  #home{
    height:76px;
    width: 83px;
    background-image: url("../img/sprite-nav-50.png");
    background-position: 89px 78px;
  }

  #home:hover{
    background-position: 89px 0px;
  }

  #diary{
    float:right;
    margin-right: 30px;
    height:76px;
    width: 64px;
    background-image: url("../img/sprite-nav-50.png");
    background-position: -3px 78px;
  }
  #diary:hover{
    background-position: -3px 0px;
  }

  #library{
    float:right;
    height:76px;
    width: 57px;
    background-image: url("../img/sprite-nav-50.png");
    background-position: 145px 78px;
  }

  #library:hover{
    background-position: 145px 0px;
  }

  #progress-bar{
    width:337px;
    height:105px;
    background-image: url("../img/progress-bar.png");
    background-position: 0 10px;
    position: absolute;
    right: 35%;


    span{
    margin-left: 23%;
    }
  }
}

/* Menu or Home to choose parts of the house */
.container{
  .menu{
    width:994px;
    height:748px;
    background:url("../img/bg-menu.png");
    position: absolute;
    top:0;
    z-index: 100;
    opacity: 0.9 !important;
    display:none;
    margin-top: 10px;

    span{
      font-family: $font-titles;
      color:#d64e25;
      font-size: 35px;
      margin-left: 25%;
      margin-top: 32px;
      position: absolute;
    }

    p{
      font-family: $font-titles;
      font-size: 20px;
      color:#d25544;
    }
    .bed{
      top:324px;
      left: 139px;
    }
    .kit{
      top:324px;
      left: 351px;
    }
    .liv{
      top:324px;
      left: 560px;
    }
    .din{
      top:324px;
      left: 786px;
    }
    .bath{
      top:595px;
      left: 139px;
    }
    .back{
      top:595px;
      left: 362px;
    }
    .exit{
      width:53px;
      height:53px;
      background: url("../img/icon-close.png");
      right:50px;
      top:25px;
    }

    .bedroom{
      width:269px;
      height:198px;
      background: url("../img/menu-bedroom.png");
      top:130px;
      margin-left: 40px;
    }

    .kitchen{
      width:179px;
      height:222px;
      background: url("../img/menu-kitchen.png");
      top:114px;
      left: 293px;
    }

    .living{
      width:231px;
      height:170px;
      background: url("../img/menu-living.png");
      top:160px;
      left: 466px;
    }

    .dinning{
      width:223px;
      height:197px;
      background: url("../img/menu-dinning.png");
      top:136px;
      right: 49px;
    }

    .bathroom{
      width:203px;
      height:179px;
      background: url("../img/menu-bathroom.png");
      top:408px;
      left:54px;
    }

    .backyard{
      width:190px;
      height:207px;
      background: url("../img/menu-backyard.png");
      top:386px;
      left:292px;
    }

  }
  .opt{
    position: absolute;
  }

  .opt-container{
    width: 100%;
    position: absolute;
    top:40px;
  }
}

/* Bedroom styles */


.bedroom{
  position: absolute;
  width: 1024px;
  height: 768px;
  background-image: url("../img/bg-bedroom.png");
}

.pillow{
  width: 74px;
  height: 60px;
  background-image: url("../img/bedroom-pillow.png");
  top:380px;
  right:228px;
}
.backpack{
  width: 117px;
  height:185px;
  background-image: url("../img/bedroom-backpack.png");
  top:525px;
  right: 228px;

}
.blue-box{
  width: 120px;
  height:75px;
  background-image: url("../img/bedroom-blue-box.png");
  top:280px;
  right: 840px;

}
.purple-box{
  width: 112px;
  height: 81px;
  background-image: url("../img/bedroom-purple-box.png");
  top: 385px;
  right: 840px;
}
.toys{
  width: 130px;
  height: 171px;
  background-image: url("../img/bedroom-toys.png");
  top:440px;
  right:25px;
}
.sock{
  width: 69px;
  height: 49px;
  background-image: url("../img/bedroom-sock.png");
  top:620px;
  right:900px;
}
.yellow-sock{
  width: 81px;
  height: 62px;
  background-image: url("../img/bedroom-yellow-sock.png");
  top:678px;
  right:890px;
}
.green-sock{
  width: 56px;
  height: 28px;
  background-image: url("../img/bedroom-green-sock.png");
  top:620px;
  right:825px;
}
.blue-sock{
  width: 52px;
  height:73px;
  background-image: url("../img/bedroom-blue-sock.png");
  top:678px;
  right:825px;
}
.books{
  width: 200px;
  height:76px;
  background-image: url("../img/bedroom-books.png");
  top:240px;
  right:207px;
}
.pig{
  width:65px;
  height:70px;
  background-image: url("../img/bedroom-pig.png");
  top: 378px;
  right: 620px;

}
